/*
 * @Author: wei.ling 
 * @Date: 2019-09-24 10:06:00 
 * @Last Modified by: wei.ling
 * @Last Modified time: 2019-09-24 16:23:13
 */
.App-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
  font-size: 0.26rem;
  z-index: 20;
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  .left {
    width: 20%;
    text-align: left;
    img {
      width: 0.5rem;
    }
  }
  .middle {
    width: 40%;
    text-align: center;
  }
  .right {
    width: 20%;
    text-align: right;
  }
}
